


<h1>random game</h1>
<h1><%=@name%>,<span style="color:red;"><%=@result%></span></h1>
<!--<form action="randomgame">
    <input type="text">
    <input type="submit" value="Game Start">
    
</form>-->